@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pampas: #f4f2f0;
  --te-papa-green: #223843;
  --denim: #185aca;
  --golden-fizz: #fdec3e;
  --ming: #3d6282;
  --slate-gray: #748390;
}

.theme-light {
  --background: #ffffff;
  --foreground: #171717;
}

.theme-dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

#logo-link {
  border-radius: 12px;
  background: white;
}

#mobile-menu {
  border-radius: 30px 0 0 30px;
  box-shadow: -4px 0 5px rgba(0, 0, 0, 0.4);
}

.nav-link {
  font-weight: 500;
  color: var(--te-papa-green);
}

.nav-link-mobile {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--pampas);
  text-shadow: 1px 1px 2px var(--te-papa-green);
}

.nav-link,
.nav-link-mobile {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nav-link:hover {
  color: var(--denim);
}

.nav-link-mobile:hover {
  color: var(--golden-fizz);
}
