@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pampas: #f4f2f0;
  --te-papa-green: #223843;
  --denim: rgb(24, 90, 202);
  --golden-fizz: #fdec3e;
  --ming: #3d6282;
  --slate-gray: #748390;
  --hero-bg: rgba(24, 90, 202, 0.2);
}

.theme-light {
  --background: #ffffff;
  --foreground: #171717;
}

.theme-dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
}

#logo-link {
  border-radius: 12px;
  background: white;
}

#mobile-menu {
  border-radius: 30px 0 0 30px;
  box-shadow: -4px 0 5px rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.nav-link {
  font-weight: 500;
  color: var(--te-papa-green);
}

.nav-link-mobile {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--pampas);
  text-shadow: 1px 1px 2px var(--te-papa-green);
}

.nav-link,
.nav-link-mobile {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nav-link:hover {
  color: var(--denim);
}

.nav-link-mobile:hover {
  color: var(--golden-fizz);
}

#hero-image {
  height: auto;
  width: 70%;
  position: absolute;
  transform: translateY(-270px);
}

@media screen and (min-width: 1920.9px) {
  #hero-image {
    width: 700px;
    min-width: 700px;
  }
}

@media screen and (min-width: 1160px) {
  #hero-image {
    width: 615px;
    min-width: 615px;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1159.9px) {
  #hero-image {
    width: 550px;
    min-width: 550px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1119.9px) {
  #hero-image {
    width: 425px;
    min-width: 425px;
    transform: translateY(-150px);
  }
}

@media screen and (min-width: 899px) and (max-width: 991.9px) {
  #hero-image {
    width: 420px;
    min-width: 420px;
    transform: translateY(-40px);
  }
}

@media screen and (min-width: 830px) and (max-width: 898.9px) {
  #hero-image {
    width: 370px;
    min-width: 370px;
    transform: translateY(-20px);
  }
}

.hero-title-block {
  width: 60%;
}

@media screen and (max-width: 1119.9px) {
  .hero-title-block {
    width: 70%;
  }
}

@media screen and (max-width: 971.1px) {
  .hero-title-block {
    width: 90%;
  }
}

@media screen and (max-width: 841.9px) {
  .main-title {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 829.9px) {
  .hero-media-block {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .hero-media-block > div {
    width: 100%;
  }

  .hero-image-wrapper {
    align-items: center;
  }

  #hero-image {
    width: 320px;
    position: relative;
    transform: none;
  }

  .hero-title-block {
    height: fit-content;
    padding-bottom: 38px;
  }

  .main-title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 654px) {
  .main-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 408px) {
  .main-title {
    font-size: 1.8rem;
  }
}

.background-gradient {
  background: linear-gradient(
    to bottom,
    rgba(232, 237, 255, 0) 0%,
    rgba(232, 237, 255, 1) 60px,
    rgba(232, 237, 255, 1) calc(100% - 60px),
    rgba(232, 237, 255, 0) 100%
  );
}
